#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem 1.5rem;
}

.App {
  flex-basis: 700px;
}

.addLine {
  margin-bottom: 1rem;
  border: 1px solid #21212b;
  border-radius: 7px;
  padding: .4rem;
  display: flex;
  align-items: center;
}

.addButton {
  background: rgb(196,69,213);
  background: linear-gradient(40deg, rgba(196,69,213,1) 0%, rgba(248,107,171,1) 35%, rgba(254,150,132,1) 100%);
  border: 0;
  color: #181820;
  font-weight: 600;
  width: 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  padding: 0.6em 1.2em;
}

.inputTask {
  background-color: #181820;
  height: 1.5rem;
  border: none;
  color: #FFF;
  outline: none;
  padding-left: 1rem;
  flex-grow: 1;
}

.count {
  margin-bottom: 1rem;
  display: block;
}